<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MemoryPC Clone{% endblock %}</title>

    {# CSS externes #}
    <link rel="stylesheet" href="{{ asset('build/Home.css') }}">
    <link rel="stylesheet" href="{{ asset('build/Header.css') }}">
    <link rel="stylesheet" href="{{ asset('build/Footer.css') }}">
    <link rel="stylesheet" href="{{ asset('build/Account.css') }}">
    <link rel="stylesheet" href="{{ asset('build/Legal.css') }}">
    <link rel="stylesheet" href="{{ asset('build/Cookie.css') }}">

    <meta name="csrf-token" content="{{ csrf_token('cookie_consent') }}">
</head>

<body
    data-cookie-consent="{{ app.request.cookies.get('cookie_consent') ? 'true' : 'false' }}"
    data-cookie-reset="{{ app.request.get('_cookie_reset') ? 'true' : 'false' }}"
>

    {% include 'components/header.html.twig' %}

    <main>{% block body %}{% endblock %}</main>

    {% include 'components/footer.html.twig' %}

    {% include 'components/cookie_pop-up.html.twig' %}

    {{ encore_entry_script_tags('app') }}

</body>
</html>