<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MemoryPC Clone{% endblock %}</title>

    {# CSS global et composants séparés #}
    <link rel="stylesheet" href="{{ asset('css/Home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cookie.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

    {# HEADER #}
    {% include 'components/header.html.twig' %}

    {# CONTENU DE LA PAGE #}
    <main>
        {% block body %}{% endblock %}
    </main>

    {# FOOTER #}
    {% include 'components/footer.html.twig' %}

    {# POP-UP COOKIES #}
    {% include 'components/cookie_pop-up.html.twig' %}

    {# JS global et composants séparés, avec nonce pour CSP #}
    <script src="{{ asset('js/app.js') }}" nonce="{{ csp_nonce('script') }}"></script>
    <script src="{{ asset('js/cookie-pop-up.js') }}" nonce="{{ csp_nonce('script') }}"></script>

    {# Exemple de script inline avec nonce #}
    <script nonce="{{ csp_nonce('script') }}">
        console.log('CSP OK');
    </script>

    {% block javascripts %}{% endblock %}
</body>
</html>