<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MemoryPC Clone{% endblock %}</title>

    {# CSS externes #}
    <link rel="stylesheet" href="{{ asset('build/Home.css') }}">
    <link rel="stylesheet" href="{{ asset('build/Header.css') }}">
    <link rel="stylesheet" href="{{ asset('build/Footer.css') }}">
    <link rel="stylesheet" href="{{ asset('build/Account.css') }}">
    <link rel="stylesheet" href="{{ asset('build/Legal.css') }}">
    
    {# CSP Security Headers via Nelmio #}
</head>
<body>

    {# HEADER COMMUN #}
    {% include 'components/header.html.twig' %}

    {# CONTENU PRINCIPAL #}
    <main>
        {% block body %}{% endblock %}
    </main>

    {# FOOTER COMMUN #}
    {% include 'components/footer.html.twig' %}

    {# POPUP COOKIES #}
    {% include 'components/cookie_pop-up.html.twig' %}

    {# Scripts externes #}
    {{ encore_entry_script_tags('app') }}

</body>
</html>